@font-face {
  font-family: Nunito;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    local('Nunito-Regular'),
    url('/fonts/Nunito-Regular.woff2') format('woff2'),
    url('/fonts/Nunito-Regular.ttf') format('ttf');
}

@font-face {
  font-family: Nunito;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    local('Nunito-Regular'),
    url('/fonts/Nunito-Medium.woff2') format('woff2'),
    url('/fonts/Nunito-Medium.ttf') format('ttf');
}

@font-face {
  font-family: Nunito;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src:
    local('Nunito-SemiBold'),
    url('/fonts/Nunito-SemiBold.woff2') format('woff2'),
    url('/fonts/Nunito-SemiBold.ttf') format('ttf');
}
