* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(167deg, #fff 0%, #f0f4ff 40%, #fef6fa 100%);
}
